@import url(./__element/photo-grid__element.css);

@import url(./__item/photo-grid__item.css);

.photo-grid {
  position: absolute;
  max-width: 1184px;
  height: 671px;
  left: 48px;
  top: 1893px;

  margin: 0;
  padding: 0;
}
