@import url(./__element/photo-grid__element.css);

@import url(./__item/photo-grid__item.css);

.photo-grid {
  width: 288px;
  height: 2724px;
  margin: 64px 16px 0;
  padding: 0;
}

/*@media screen and (max-width: 1024px) {
  .photo-grid {
    width: 90%;
    height: 942px;
  }
}

@media screen and (max-width: 768px){
  .photo-grid {
    height: 1664px;
    left: 24px;
    top: 1708px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    height: 2724px;
    left: 16px;
    top: 1479px;
  }
}
*/
