@import url(./__element/places__element.css);

@import url(./place/place.css);

.places {
  position: relative;
  width: 984px;
  height: 3452px;
  left: 148px;
  top: 2656px;
}

@media screen and (max-width: 1024px) {
  .places {
    width: 90%;
    height: 3456px;
    top: 2876px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    height: 3143px;
    top: 3460px;
  }
}

@media screen and (max-width: 320px) {
  .places {
    width: 100%;
    height: 5179px;
    top: 4267px;
  }
}
