@import url(./__element/places__element.css);

@import url(./place/place.css);

.places {
  width: 100%;
  margin: 64px 0 0;
}

/*@media screen and (max-width: 1024px) {
  .places {
    width: 90%;
    height: 3456px;
    top: 2876px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    height: 3143px;
    top: 3460px;
  }
}
*/

