@import url('./header__lang-list.css');

@import url('./header__lang-link.css');

@import url('./_active/header__lang-link_active.css');

.header__lang {
  margin: 10px 0 2px 0;
  padding: 0;

  list-style-type: none;
}

@media screen and (min-width: 1280px) {
  .header__lang {
    margin: 12px 0 4px 0;
  }
}
