@import url(./__title/place__title.css);

@import url(./__image/place__image.css);

@import url(./__website/place__website.css);

@import url(./__text/place__text.css);

@import url(./__paragraph/place__paragraph.css);

.place {
  position: relative;
  width: 100%;
  height: 584px;

  display: flex;
  margin-bottom: 80px;
}

.place:nth-of-type(2) {
  height: 668px;
}

.place:nth-of-type(4) {
  height: 712px;
}
