@import url(./__title/lead__title.css);

@import url(./__subtitle/lead__subtitle.css);

@import url(./__image/lead__image.css);

@import url(./__caption/lead__caption.css);

.lead {
  width: 100%;
  /*max-height: 1005px;*/
  height: 406px;
  margin: 50px 0 0;
  padding: 0;
  background-color: burlywood;
}

@media screen and (min-width: 768px) {
  .lead {
    height: 862px;
  }
}

@media screen and (min-width: 1024px) {
  .lead {
    height: 962px;
  }
}

