.cover__subtitle {
  width: 288px;
  height: 48px;
  margin: 0 auto;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  /* or 114% */

  text-align: center;
  text-decoration-line: none;

  color: #FFFFFF;
}
