.place__title {
  position: absolute;
  width: 460px;
  min-height: 76px;
  /*left: 148px;*/
  /*top: 2656px;*/

  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  /* identical to box height, or 106% */


  color: #FFFFFF;


  margin: 0 40px 48px 0;
}

