.lead__title {
  width: 288px;
  height: 88px;
  margin: 0 16px 16px;

  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  /* or 110% */

  text-align: center;

  color: #FFFFFF;
}

/*.lead__title {
  width: 720px;
  height: 200px;

  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  /* or 104%

  text-align: center;

  color: #FFFFFF;

  align-self: center;
  margin: 0 16px 16px;
}

@media screen and (max-width: 768px) {
  .lead__title {
    width: 90%;
  }
}

@media screen and (max-width: 320px) {
  .lead__title {
    height: 88px;
    margin: 0 auto 16px;

    font-family: Inter;
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
  }
}
*/
