.footer__copyright {
  margin: 0;
  background-color: blueviolet;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */

  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .footer__copyright {
    margin-left: 0;

    font-size: 14px;
    line-height: 16px;
    /* identical to box height, or 114% */
  }
}

