.place__url-heading {
  margin-top: 0;

  font-family: 'Inter', 'Arial', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 100%;

  letter-spacing: 0.2em;

  color: #AAAAAA;
}

@media screen and (min-width: 1024px) {
  .place__url-heading {
    line-height: 100%;
  }

  .place__url-heading:nth-of-type(2) {
    line-height: 170%;
  }
}

@media screen and (min-width: 1280px) {
  .place__url-heading {
    line-height: 170%;
  }

  .place__url-heading:first-of-type {
    line-height: 100%;
  }
}
