.lead__image {
  width: 320px;
  height: 200px;

  background-image: url(../../../images/lead-mountains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/*@media screen and (max-width: 320px) {
  .lead__image {
    margin-top: 184px;
  }
}
*/
