.place__link {
  position: absolute;
  width: 456px;
  height: 22px;
  /*left: 648px;*/
  /*top: 2710px;*/

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */

  text-decoration-line: underline;

  color: #FFFFFF;

  margin-top: 24px;
  padding: 0;
}
