.intro__text {
  width: 100%;
  height: 90px;
  margin: 40px 0 0;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 142%;


  color: #FFFFFF;
}

.intro__text:last-of-type {
  height: 468px;
  margin: 32px 0 0;

  font-size: 16px;
  line-height: 162%;
}

@media screen and (min-width: 768px) {
  .intro__text {
    height: 68px;
  }

  .intro__text:last-of-type {
    height: 182px;
  }
}

