@import url(./__title/intro__title.css);

@import url(./__text/intro__text.css);

@import url(./__text/intro__text-1.css);

@import url(./__list/intro__list.css);

.intro {
  width: 288px;
  height: 839px;
  margin: 64px 16px 0 16px;
  background-color: burlywood;
}

/*@media screen and (max-width: 1024px) {
  .intro {
    left: 48px;
    top: 1182px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    width: 90%;
    height: 542px;
    left: 24px;
    top: 1078px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    height: 839px;
    left: 16px;
    top: 576px;
  }
}
*/
