.lead__subtitle {
  position: absolute;
  width: 620px;
  height: 72px;
  /*left: 330px;
  top: 368px;*/

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  /* or 120% */

  text-align: center;

  color: #FFFFFF;

  align-self: center;
  margin: 232px auto 64px;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    width: 288px;
    height: 40px;
    margin: 104px auto 40px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }
}
