@import url('../section-title/section-title.css');

@import url('../section-subtitle/section-subtitle.css');

@import url('./__background/cover__background.css');


.cover {
  width: 100%;
  margin: 64px 0 0;
  padding: 0;
}

.cover:hover {
  background: #2A2C2F;
  opacity: .8;
}

@media screen and (min-width: 768px) {
  .cover {
    margin: 88px 0 0;
  }
}

@media screen and (min-width: 1024px) {
  .cover {
    margin: 96px 0 0;
  }
}

@media screen and (min-width: 1280px) {
  .cover {
    max-width: 1184px;
    margin: 92px auto 0;
  }
}
