.header__lang_link {
  margin: 0 0 0 18px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;

  text-align: right;
  text-decoration-line: underline;

  color: #FFFFFF;
}

.header__lang_link:last-of-type {
  text-decoration-line: none;
}
