.cover__title {
  width: 288px;
  height: 35px;
  padding: 51px 16px 0;
  margin-bottom: 16px;

  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 35px;
  /* identical to box height, or 109% */

  text-align: center;
  text-decoration-line: none;

  color: #FFFFFF;
}

@media screen and (min-width: 768px) {
  .cover__title {
    width: 656px;
    height: 76px;
    padding: 153px 56px 0;
    margin-bottom: 32px;

    font-size: 72px;
    line-height: 76px;
  }
}
