.place__paragraph {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  /*identical to box height, or 162%*/

  color: #FFFFFF;

  margin: 0 0 24px 0;
}

.place__paragraph:first-child {
  font-size: 18px;
  line-height: 30px;
  /* or 167% */
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}

