@import url(./__copyright/footer__copyright.css);

@import url(./__link/footer__link.css);

.footer {
  width: 168px;
  height: 198px;
  margin: 64px 136px 24px 16px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: burlywood;
}

.footer__list {
  list-style: none;
  padding: 0;
}

/*
@media screen and (max-width: 1024px) {
  .footer {
    width: 90%;
  }
}
*/
