.place__image {
  position: absolute;
  width: 460px;
  height: 460px;
  /*left: 148px;
  top: 2780px;*/

  margin: 124px 40px 0 0;
  padding-bottom: 100%;
  /*to make images equals their parent elements*/
}

.place__image-hampshire {
  margin-top: 200px;
}
